.shop h1,
.shop h2 {
  width: 100%;
  margin-bottom: 0px
}

.wrap {
  width: 1200px;
}

table {
  border: 1px solid #000;
  padding: 20px;
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
}

table tr,
table td {
  border: 1px solid #ccc;
}

table th {
  padding: 20px;
}

table td {
  text-align: center;
}

table td.active {
  background: green;
}

table td.blocked {
  background: red;
}

table img {
  height: 100px;
}

table tr.active {
  background: #e96f24;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px
}

p {
  margin-top: 0;
}