.filter-list {
	height: 150px;
	overflow: auto;
	border: 1px solid #000;
	width: 300px;
	margin: 0;
	padding: 10px;
}

.filter-list li {
	list-style: none
}

.filter-controls {
	margin-bottom: 20px;
	display: flex;
	gap: 10px;
}